#page{
	position:relative;
	margin:0 auto;
	background:url(../bgpic1476.png);
	background-repeat:no-repeat;
	width:1476px;
	min-height:696px;
}
#main{ position:relative;width:980px;  margin:30px auto 0 auto; border:1px solid #d3d3d3; background:#fff; -moz-border-radius:5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px; border-radius:5px;}
h2.top_title{
	margin: 4px 20px;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 24px;
	border-bottom: 1px solid #d3d3d3;
	font-size:20px;
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #a84c10;
}
.kuai{
	border: solid 1px #dedede;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
	-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius: 4px; border-radius:4px;
	text-align:center;
	-webkit-box-shadow: 2px 2px 5px 0px rgb(239, 239, 239);
    -moz-box-shadow: 2px 2px 5px 0px rgb(239, 239, 239);
    box-shadow: 2px 2px 5px 0px rgb(239, 239, 239);
}
h3{
	color:#03C;
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
	font-size:19px;
	margin-left:10px;
	text-align:left;
}
.preview {
	width: 920px;
	border: solid 1px #dedede;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
table{
	color: #333;
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
	line-height:30px;
	margin:0 auto;
	width:640px;
}
.tl{
	text-align: right;
	margin-top: 10px;
	color: #333;
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
	font-weight:500;
}
.title{
	border: 1px solid #CCC;
	color: #888;
	width: 532px;
	height: 20px;
	line-height: 15px;
	outline: 0 none;
	padding: 5px 0px 5px 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.otherkey{
	border: 1px solid #CCC;
	color: #888;
	width:345px;
	height: 15px;
	line-height:15px;
	outline: 0 none;
	padding: 5px 0px 5px 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
textarea{
	resize: none;
	border: 1px solid #CCC;
	color: #888;
	height: 20px;
	line-height: 15px;
	outline: 0 none;
	padding: 5px 0px 5px 5px;
	width: 532px;
	height: 100px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);	
}
.btn2{
	position: relative;
	width: 100px;
	height: 40px;
	font-size: 14px;
	line-height: 19px;
	color: #fff;
	background-color: #5bb75b;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: "微软雅黑";
	font-size: 18px;
	margin-bottom: 20px;
	margin-left: 440px;
	margin-right: auto;
}
p{
margin:0;
padding:0;
}

