@charset "utf-8";
/* CSS Document */
#page{
	position:relative;
	margin:0 auto;
	background:url(../bgpic1476.png);
	background-repeat:no-repeat;
	width:1476px;
}
.top_title {
	margin: 4px 20px;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 24px;
	border-bottom: 1px solid #d3d3d3;
	font-size: 20px;
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #a84c10;
}
.preview {
	width: 930px;
	border: solid 1px #dedede;
	margin: 10px;
	padding: 10px;
}
.demo p {
	line-height: 26px
}
.btn2 {
	position: absolute;
	width: 100px;
	height: 40px;
	left: 420px;
	bottom: 0px;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #5bb75b;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: "微软雅黑";
	font-size: 18px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}
.btn {
	position: absolute;
	overflow: hidden;
	margin-right: 4px;
	display: inline-block;
*display:inline;
	font-size: 14px;
	line-height: 19px;
*line-height:20px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #5bb75b;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	top: 15px;
	right: 20px;
	font-weight: 100;
}
h3 {
	text-align: center;
	font-family: "微软雅黑";
	font-size: 28px;
	margin-left: 250px;
	margin-right: 250px;
	margin-top:280px;
}
.btn input {
	position: absolute;
	top: -5px;
	right: 6px;
	margin: 0;
	border: solid transparent;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
	bottom: 0px;
}
html,body,div,span,h1,h2,h4,h5,h6,p,pre,a,code,em,img,small,strong,sub,sup,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label{
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: auto;
	margin-top: 0;
}
a{color:#007bc4/*#424242*/; text-decoration:none;}
a:hover{text-decoration:underline}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
body{height:100%; font:14px/18px "Microsoft Yahei", Tahoma, Helvetica, Arial, Verdana, "\5b8b\4f53", sans-serif; color:#51555C; }
img{border:none}

#header{width:980px; height:90px; margin:0px auto; position:relative;}


#main{ position:relative;width:980px; min-height:600px; margin:30px auto 100px auto; border:1px solid #d3d3d3; background:#fff; -moz-border-radius:5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px; border-radius:5px;padding-bottom:40px}

#footer{height:60px;}
#footer p{ padding:10px 2px; line-height:24px; text-align:center}
#footer p a:hover{color:#51555C}
#stat{display:none}

.google_ad{width:728px; height:90px; margin:50px auto}
.ad_76090,.ad_demo{width:760px; height:90px; margin:40px auto}
.demo_topad{position:absolute; top:15px; right:0px; width:472px; height:60px;}


@media screen and (min-width: 320px) and (max-width : 480px) {
 html{-webkit-text-size-adjust: none;}
 #header{width:100%}
 #main{width:100%; margin:10px auto;  -moz-border-radius:0px;-khtml-border-radius: 0px;-webkit-border-radius: 0px; border-radius:0px; }
 .demo_topad{display:none}
 .google_ad{width:100%; margin:40px auto; text-align:center}
.ad_76090,.ad_demo{width:100%; height:auto; margin:40px auto;text-align:center}
.demo{width:98%; margin:10px auto}
}
