@import url(http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
h1{
	padding:20px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, .control-input {
  color: #333333;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em; }
#header {
  background: #F2F2F2;
  height: 64px;
  line-height: 64px;
  padding-top: 40px;
  text-align: center;
  width: 100%; }
  #header h1 a {
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #32d0ff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    text-decoration: none; }
    #header h1 a:hover {
      color: #00c4fe; }

#controls-top{
	position:fixed;
	left:0;
	bottom:0;
  background-color: #f0f0f0;
  line-height: 60px;
  min-height: 60px;
  text-align: center;
  width: 100%; }

.control-input {
  box-sizing: border-box;
  border: 1px solid rgba(210, 210, 210, 0.5);
  border-radius: 4px;
  display: inline-block;
  height: 38px;
  padding: 0 1em;
  width: 50%;
  vertical-align: middle; }
  .control-input::-webkit-input-placeholder {
    font-weight: 300;
    letter-spacing: 1px; }
  .control-input::-moz-placeholder {
    font-weight: 300;
    letter-spacing: 1px; }
  .control-input:-moz-placeholder {
    font-weight: 300;
    letter-spacing: 1px; }
  .control-input:-ms-input-placeholder {
    font-weight: 300;
    letter-spacing: 1px; }
  .control-input:focus {
    border: 1px solid #32d0ff;
    outline: none; }

.control-button {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #31cef5;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  margin: 0 0.25em;
  padding: 0 1.5em;
  vertical-align: middle; }
  .control-button:hover {
    background-color: #0bbce8; }
	
	.pagelink{
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #31cef5;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  margin: 0 0.25em;
  padding: 0 1em;
  vertical-align: middle;
  text-decoration:none;
   }
  .pagelink:hover {
    background-color: #0bbce8; }
	.pagelinkdisable{
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #aaa;
  border-radius: 4px;
  color: white;
  display: inline-block;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  margin: 0 0.25em;
  padding: 0 1em;
  vertical-align: middle;
  text-decoration:none;
   }
#controls-top form{
	display:inline;
}
#controls-top input{
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  width:40px;
  border:1px solid #808080;
  border-radius: 2px;
  height: 28px;
  font-size: 14px;
  line-height:28px;
  margin: 0 0.25em;
  text-align:center;
  vertical-align: middle;
}
#srh{
	text-align:center;
	margin-top:30px;
	margin-bottom:10px;
}
#kw{
	    padding: 10px 9px 10px 7px;
    border: 0;
    background-image: none;
    height: 20px;
    line-height: 20px;
	font-size:20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	width: 521px;
	vertical-align: middle;
    display: inline-block;
	outline:0;
}

	

#su{
	    width: 104px;
    height: 40px;
    line-height: 40px;
	    cursor: pointer;
    color: #000;
    font-size: 16px;
	border:none;
	    margin: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	background:#31cef5;
	color:#eee;
	font-weight:bold;
	position:relative;
	left:-3px;
	   vertical-align: middle;
}

#wrapper {
  margin-bottom: 72px;
  text-align: center;
  width: 100%; }

.grid-wrapper {
  margin: 0 auto;
  position: relative; }

.grid-item {
  display: block;
 
  position: absolute;
  margin: 0 auto; }
.image > img {
    display: block;
    height: auto;
    width: 100%;
	cursor:pointer;
}
.letter {
	background: url(../../../pic/letterbg.png);
}
.picNdes {
	display: block;
	vertical-align: top;
	margin: 20px;
	max-width: 1200px;
	text-align: center;
}
.picNdes > img {
	border: 1px solid #ccc;
	max-width: 1200px;
	max-height: 400px;
}
.picNdes > img:hover {
	opacity:0.9;
}
.image{
	position:relative;
}
.image > div{
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	background-color:rgba(0,0,0,0.5);
	display:none;
	text-align:left;
}
.image > div img {
	height:24px;
	padding:3px;
	display:inline-block;
	vertical-align:middle;
}
.image > div span {
	height:30px;
	font-size:14px;
	color:#ddd;
	vertical-align:middle;
	line-height:30px;
	display:inline-block;
}
.image > div span:hover{
	text-decoration:underline;
}
.image > div div{
	position:absolute;
	right:8px;
	bottom:0;
	height:30px;
	font-size:12px;
	color:#ccc;
	line-height:30px;
}
.picNdes figcaption div {
	text-align: left;
	margin: 3px 0 0 0;
}
.biaoqian {
	width: 35px;
	float: left;
	color: #555;
	font-size: 14px;
	line-height: 22px;
}
.picNdes figcaption div + div {
	float: left;
}
.picNdes figcaption div div a {
	display: inline-block;
	background-color: #aaa;
	margin: 0 0 7px 6px;
	white-space: nowrap;
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}
.picNdes figcaption p {
	clear: both;
	margin: 0px;
	margin-bottom: 10px;
	padding-left: 5px;
	border: none;
	vertical-align: middle;
	font-family: KaiTi;
	font-size: 16px;
	line-height: 18px;
	border-left: 1px solid #000;
	text-align: left;
	word-wrap: break-word;
}
.picNdes figcaption div div a:hover{
	background-color:#6ed534;
}
figcaption > a {
	text-decoration:none;
}
figcaption > a :hover{
	text-decoration:underline;
}
	
	
#view
{
	position:fixed; z-index:1; width:100%; height:100%; background-color:rgba(0,0,0,0.8);text-align:center; display:none; cursor:pointer;
}
#view span{
	display:inline-block;vertical-align:middle;text-align:center;
}
#dowload{
	width: 80px;
	height: 40px;
	background-color: #6Ed534;
	color: #fff;
	line-height: 40px;
	font-size: 20px;
	letter-spacing: 3px;
	cursor: pointer;
	border-radius: 4px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
#viewimg{
	background:#fff;
	display:inline-block;
	margin:0 auto;
}

.search {
    display:inline-block;
    position:relative;
    height:27px;
	margin-top:6px;
	margin-left:20px;
}
 
.search:hover {
    -webkit-box-shadow:0 0 3px #999;
    -moz-box-shadow:0 0 3px #999
}
 
.search .sinput {
    float:left;
    width:130px;
    height:20px;
    line-height:20px;
    padding:3px 5px;
    border:#A7A7A7 1px solid;
    background:#ccc;
    color:#888;
    font-size:12px;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    outline: none;
}
 
.search .sinput:focus {
    width:200px;
}
 
.search .sbtn {
	cursor: pointer;
	height: 28px;
	font-size: 12px;
	float: left;
	width: 50px;
	margin-left: -1px;
	background: #eee;
	display: inline-block;
	padding: 0 12px;
	vertical-align: middle;
	border: #A7A7A7 1px solid;
	color: #666;
}
 
.search .sbtn:hover {
    background:#ddd;
}
.pagelink{
}
