@charset "utf-8";
/* CSS Document */

.fixeditem {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width:1200px ;
	height: 40px;
	background: #38424E;
	z-index:2;
}
.blank {
	width: 100%;
	height: 40px;
}
.container {
	min-width: 768px;
	max-width: 1200px;
	height: 40px;
	margin: 0 auto;
}
.myphotologo {
	height: 40px;
	width: 162px;
	background-image: url(logo/logo162.png);
	display: block;
	float: left;
}
.myphotologoo {
	height: 40px;
	width: 162px;
	background-image: url(logo/logop162.png);
	display: block;
	float: left;

}
.pull-right {
	height: 40px;
	float:light;
	display: none;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	display: block;
}
.row {
	height: 40px;
	width: 75px;
	display: block;
	float: left;
	text-decoration: none;
	font-family: "微软雅黑", "Tahoma", " Arial", "sans-serif";
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	border-left:1px solid #505f66;
}
.homeicon{
	background-image: url(pic/home.png);
	background-repeat: no-repeat;
}
.faxianicon {
	background-image: url(pic/search.png);
	background-repeat: no-repeat;
}
.uploadicon{
	background-image:url(pic/upload.png);
	background-repeat: no-repeat;
}
.loginicon{
	background-image:url(pic/login.png);
	background-repeat: no-repeat;
}
.zhuceicon{
	background-image:url(pic/zhuce.png);
	background-repeat: no-repeat;
}
.light{
	background-color:#222233;	
	/*background-color:#808492;	*/
}
.onlight{
	/*background-color:#CCC;*/
	background-color:#222233;	
}
	
.icons{
	width: 28px;
	height: 28px;
	float: left;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-top: 6px;
}
#useronline{
	float:left;
	
}